html {
    height: 100% !important;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
body {
    font-family: Helvetica, Arial, Sans-Serif, sans-serif;
    background: white;
    height: 100%;
    overflow-y: hidden;
}

#app {
    height: 100%;
}

#home {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#manga-list {
    display: flex;
    flex: 1;
}

#bottom-nav {
    height: auto;
}
.loading {
    align-items: center;
    justify-content: center;
}