html {
    height: 100% !important;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
body {
    font-family: Helvetica, Arial, Sans-Serif, sans-serif;
    background: white;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#app {
    height: 100%;
}

#home {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#manga-list {
    height: 100%;
    display: flex;
    flex: 1;
}

#bottom-nav {
    height: auto;
}
.loading {
    align-items: center;
    justify-content: center;
}

.manga-container {
    height: 100%;
    margin-top: 1rem;
}

.manga {
    display: flex;
    flex-direction: column;
}
.manga-info {
    display: flex;
    flex-direction: row;
}
.manga-thumb {
    // flex: 1 0 25%;
}
.manga-description {
    display: flex;
    padding: 0.2rem 0.5rem;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}
.manga-genre {
    padding: 0 0.2rem;
}
.manga-list-item {
    display: flex;
    flex-direction: row;
}
.manga-list-item img {
    padding: 0.5rem 0;
}